.AContainer{
  background-color: blue;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  
}
.CAccount{
  /* top:400px; */
  margin: auto;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  padding: 40px ;
  padding-top: 60px;
  padding-bottom: 60px;
}
.mainScreen{
  display:flex;
  flex-direction: row;
  width: 100%;
}
.sideNav{
width: 5%;
height: 100vh;
background-color:rgb(2, 2, 68);
}
.sideLogo, .sideMail ,.sideConnect, .sideDas{
  width: 100%;
  height: 7vh;
  margin: 0 auto;
  padding: auto;
}

.sideLogo, .sideMail ,.sideConnect, .sideDas >p {
  font-size: 35px;
  color: white;
}
.sideNavActive{
  background-color: white;
  color:rgb(2, 2, 68) ;
  padding-top: 2px;
  padding-bottom: 5px;

}
.conversations{
width: 20%;
height: 100vh;
background-color: rgb(255, 255, 255);
}
.conHead{
  width: 100%;
  background-color: azure;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  padding-top: 20px;
  font-weight:bolder;
  border: 1px solid rgb(45, 44, 44, 0.3);
}

.navLogo{
  width: 15%;
  padding-left: 10px;
}
.navTitle{
  width: 70%;
}
.navRefresh{
  width: 15%;
}
.people{
  width: 100%;
  height: 120px;
  /* background-color: rgb(122, 123, 120, 0.5); */
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(82, 82, 82, 0.4);
}
.peopleActive{
  background-color: rgb(226, 240, 255);
}
.Name{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}
.nameCheck{
  width: 15%;
  padding-top: 10px;
  padding-left: 10px;
}
.fullName{
  width: 75%;
  height: 50%;
}
.nameBold{
  font-weight: 800;
}

.time {
  width: 15%;
}
.NameDes{
  padding-left: 20px;
}
.NameDes>p{
  margin-block-start: 0px;
}
.chatScreen{
 width: 55%;
 height: 100vh;
 background-color: rgb(252, 246, 239);
 display: flex;
 flex-direction: column;
}
.writeMessage{
  background-color: white;
  position: absolute;
  width: 55%;
  bottom: 1px;
}
.chatHead{
  width: 100%;
  background-color: azure;
  height: 50px;
  font-size: 25px;
  padding-top: 20px;
  font-weight:bolder;
  border: 1px solid rgb(45, 44, 44, 0.3);
}
.chatHead>p{
  margin-block-start: 0px;
  padding-left: 15px;
}
.customerDetails{
  width:20%;
  height: 100vh;
  background-color: rgb(241, 244, 255);
  display: flex;
  flex-direction: column;
}
.cusProfile{
  width: 100%;
  height: 35%;
  background-color: white;
  border: 1px solid rgb(100, 100, 100, 0.5);
}
#profile{
  border-radius: 100px;
  width: 100px;
  margin-top: 10%;
  margin-left: 35%;
  margin-right: auto;
}
.proButton{
  margin: 20px;
  padding-left: 20px;

  align-items: center;
}
.proButton>Button{
  margin-left: 40px;
}
.cusDetails{
  width: 88%;
  height: 24%;
  margin: 3%;
  padding: 3%;
  border-radius: 30px;
  background-color:white;
  border: 1px solid rgb(100, 100, 100, 0.5);
  
}
.cusPerInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftInfo{
  width: 50%;
}
.leftInfo>p>a{
  text-decoration: none;
}
.rightInfo>p{
  font-weight: 700;
}